In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Creating the path
path = r'C:\Users\rbrand\12-28-2024 Instacart Basket Analysis'

In [4]:
##Importing products.csv data set from original data.
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [10]:
#Importing orders_wrangled.csv data set from prepared data.
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [12]:
#Create a dataframe
df_test = pd.DataFrame()

In [14]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [16]:
#Validating new data frame
df_test.head

<bound method NDFrame.head of     mix
0     a
1     b
2     1
3  True>

In [17]:
#Check for mixed tyoes
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\rbrand\AppData\Local\Temp\ipykernel_62540\1117015517.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [18]:
#Converting the columns data type from numertic to string.
df_test['mix'] = df_test['mix'].astype('str')

In [19]:
#Finding missing observations + sum.
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [21]:
#Creating a subset containing missing values.
df_nan = df_prods [df_prods ['product_name'].isnull() == True]

In [22]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [24]:
#Checking number of rows 
df_prods.shape

(49693, 5)

In [25]:
#Creating newd dataset for non-missing values.
f_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [26]:
#checking numbers of rows
df_prods_clean.shape

(49677, 5)

In [28]:
#Creating a new subset for only duplicated rows.
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [30]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [31]:
#checking the count to compare substaction.
df_prods_clean.shape

(49677, 5)

In [32]:
#Creating a dataset with not duplicates.
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [35]:
#5 duplicates deleted.
df_prods_clean_no_dups.shape

(49672, 5)

In [36]:
#Exporting  to prepared data as product_checked.csv.
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [ ]:
#Exercise 4.5 -------------------------------------------------------------------------------------

In [ ]:
#1.Performed the consistency checks for df_prods = done.products.checked.csv

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Creating the path
path = r'C:\Users\rbrand\12-28-2024 Instacart Basket Analysis'

In [4]:
#Importing orders_wrangled.csv data set from prepared data.
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [6]:
#2.Interpreting the output of describe fuction.
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_frequency_days
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

-Unnamed: 0: This column seems to be an index or an identifier. It needs to be clarified.

-order_id: The minimum value is 1, which is expected for an order ID. The maximum value is reasonable (3,421,083).

-user_id: The user IDs seem appropriate, ranging from 1 to 206,209.

-order_number: The order numbers range from 1 to 100, which appears reasonable.

- orders_day_of_week: Days of the week are represented with values ranging from 0 to 6 (Sunday to Saturday).

- order_hour_of_day: Hours of the day range from 0 to 23.

- order_frequency_days: Days since prior order has a minimum value of 0, which makes sense. The maximum value of 30 suggests that the highest frequency is an order every 30 days.

Overall observations: The data in each column seems reasonable in terms of ranges and values.
However, I would recommend further investigation into the purpose of the "Unnamed: 0" column and whether it adds meaningful information to the analysis.

In [8]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   order_id              int64
 2   user_id               int64
 3   order_number          int64
 4   orders_day_of_week    int64
 5   order_hour_of_day     int64
 6   order_frequency_days  float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [24]:
#3-4 Checking for mixed-type columns in df_ords
for col in df_ords.columns.tolist():
    weird = (df_ords[col].apply(type) != df_ords[col].apply(type)).any()
    if weird:
        print(col)

In [20]:
df_ords.dtypes

Unnamed: 0                int64
order_id                  int64
user_id                   int64
order_number              int64
orders_day_of_week        int64
order_hour_of_day         int64
order_frequency_days    float64
dtype: object

Based on the 3 fuctions runned before, there are no columns with mixed data types (object or mixed). All columns have either integer (int64) or float (float64) data types, which is a good sign for consistency in data types across the DataFrame.

In [68]:
#Checking missing values.
df_ords['order_frequency_days'].isnull().sum()

206209

In [52]:
#Checking missing values.df_ords.head = NaN values

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_frequency_days
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [69]:
#Double checking missing values 
df_ords.isnull().sum()

Unnamed: 0                   0
order_id                     0
user_id                      0
order_number                 0
orders_day_of_week           0
order_hour_of_day            0
order_frequency_days    206209
dtype: int64

#It looks like there are missing values in the order_frequency_days column of your df_ords DataFrame.The column has 206,209 missing values.

In [70]:
#Replacing missing values with zeros.
df_ords['order_frequency_days'].fillna(0, inplace=True)

In [71]:
#Creating dataframe (df_ords_clean) without missing values.
df_ords_clean = df_ords[df_ords['order_frequency_days'].isnull() == False]

In [81]:
#Checking shape,head for new data frame. No missing values.
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_frequency_days
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [80]:
df_ords_clean.isnull().sum()

Unnamed: 0              0
order_id                0
user_id                 0
order_number            0
orders_day_of_week      0
order_hour_of_day       0
order_frequency_days    0
dtype: int64

I chose to fill missing values in the 'order_frequency_days' column with zeros for simplicity and practicality. This decision ensures that all records are retained, preventing data loss, and it aligns with the assumption that these missing values likely represent new users or one-time orders. Filling with zeros makes the dataset more interpretable and straightforward for analysis.

In [87]:
#7 Checking for duplicates values for the df_ords data.'order_id', 'user_id', 'order_number' since are relevant.
df_ords_dups = df_ords[df_ords.duplicated(subset=['order_id', 'user_id', 'order_number'])]

In [88]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, order_frequency_days]
Index: []

It seems like the dataFrame df_ords does not have duplicate values based on the specified columns. The number of rows in the DataFrame before and after dropping duplicates should be the same, indicating that there were no duplicate rows in the original df_ords DataFrame.

In [94]:
#Exporting df_ords_clean, since there was not duplicates on the data to prepared data folder as orders_checked.csv.
df_ords_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))