In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating path
path = r'C:\Users\rbrand\12-28-2024 Instacart Basket Analysis'

In [3]:
#Importing ords_prods_merge.csv data set from prepared data.
file_path = os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl')

In [4]:
#Using the read.pickle to import data frame.
ords_prods_merge = pd.read_pickle(file_path)

In [5]:
#Checking the data frame import.
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,order_frequency_days,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_flag
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [6]:
#Creating subset to reduce dataframe
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 17)

In [8]:
#Defining the price_label - Applying a string label to every row within the dataframe, designating as low-,mid-, or high-range product based on its price..
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range product'
    else: return np.nan

In [10]:
#Applying the function to create a new column within the df dataframe called “price_range” and designates it as the location for your labels
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\rbrand\AppData\Local\Temp\ipykernel_15976\1244589412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
#Running the value_counts fuction to check values in the new column.
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [12]:
#checking max.for most expensive product within the subset
df['prices'].max()

14.8

In [13]:
#creating user-defined functions to create conditions.
#if = df.loc[df['prices'] > 15,
#then = 'price_range_loc'] = 'High-range product'

ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
#if = df.loc[(df['prices'] <= 15) & (df['prices'] > 5),
#then = 'price_range_loc'] = 'Mid-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
#Using value_counts fuction to count the number of products withing each label.
ords_prods_merge['price_range_loc'].value_counts(dropna= False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

Thanks to loc(), I can now filter the entire dataframe rather than just a subset.

In [17]:
#Print statement w/out a for-loop
print('My age is 30')

My age is 30

In [18]:
print('My age is 31')

My age is 31

In [19]:
print('My age is 32')

My age is 32

In [20]:
print('My age is 33')

My age is 33

In [21]:
#with a for-loop, however:we can print everything with a single command:
for x in range(30,45):
    print("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [22]:
#printing the frequency of the orders_day_of_week column: 
ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [23]:
# Comparing the value with what we know are the busiest and slowest days.
result = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [24]:
#creating new columns with the dataframe and setting equel results to:
ords_prods_merge['busiest_day'] = result

In [25]:
ords_prods_merge['busiest_day'].value_counts (dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [26]:
# Printing the frequency of the new column 'busiest_day'
print("Frequency of busiest_day column:")
print(ords_prods_merge['busiest_day'].value_counts(dropna=False))

Frequency of busiest_day column:
busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [27]:
# Printing the frequency of the 'orders_day_of_week' column for cross-checking
print("\nFrequency of orders_day_of_week column:")
print(ords_prods_merge['orders_day_of_week'].value_counts(dropna=False))

Frequency of orders_day_of_week column:
orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [ ]:
----------------------------------------------------------------------------------------------

Exercise 4.7

In [33]:
#1. Done

In [34]:
#2 Creating an empty list to store the results for this exercise
result = []

In [35]:
# Determine the two busiest and slowest days per client request
busiest_days = ords_prods_merge['orders_day_of_week'].value_counts().nlargest(2).index
slowest_days = ords_prods_merge['orders_day_of_week'].value_counts().nsmallest(2).index

In [36]:
print("Busiest Days:", busiest_days)
print("Slowest Days:", slowest_days)

Busiest Days: Index([0, 1], dtype='int64', name='orders_day_of_week')
Slowest Days: Index([4, 3], dtype='int64', name='orders_day_of_week')

In [37]:
#Looping through the "orders_day_of_week" column and assigning labels based on the conditions of the client
for value in ords_prods_merge["orders_day_of_week"]:
    if value in busiest_days:
        result.append("Busiest days")
    elif value in slowest_days:
        result.append("Slowest days")
    else:
        result.append("Regularly busy")

In [38]:
# Creating a new column in the dataframe and setting it equal to the result list
ords_prods_merge['new_busiest_days'] = result

In [41]:
#3 Checking the values of the new column for accuracy
print("Values of new_busiest_days column:")
print(ords_prods_merge['new_busiest_days'].value_counts())

Values of new_busiest_days column:
new_busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: count, dtype: int64

After updating the labels in the "new_busiest_days" column, I reviewed the frequency distribution:

- **Regularly busy:** The label represents the days other than the two busiest and two slowest days, and it has the highest frequency.
- **Busiest days:** This label corresponds to the two busiest days and has a significant frequency, indicating high order volumes on those days per client request.
- **Slowest days:** The label for the two slowest days also has a considerable but lower frequency compared to the busiest days per client request.

The frequencies align with expectations, and the new column provides a clear categorization of days based on order activity. The clients' request for plural labels ("Busiest days" and "Slowest days") has been successfully implemented.

In [42]:
#4. Creating a new column to categorize busiest periods of the day per tech officer request.
ords_prods_merge['busiest_period_of_day'] = ""

In [43]:
# Determining the categs hours per request, using 70% for most orders and 30% for fewest
most_orders_threshold = ords_prods_merge['order_hour_of_day'].value_counts().max() * 0.7
fewest_orders_threshold = ords_prods_merge['order_hour_of_day'].value_counts().max() * 0.3

In [44]:
for hour, count in ords_prods_merge['order_hour_of_day'].value_counts().items():
    if count >= most_orders_threshold:
        ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'] == hour, 'busiest_period_of_day'] = "Most orders"
    elif count <= fewest_orders_threshold:
        ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'] == hour, 'busiest_period_of_day'] = "Fewest orders"
    else:
        ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'] == hour, 'busiest_period_of_day'] = "Average orders"

Calculated based on the maximum frequency of orders during a specific hour.
- most_orders_threshold: This threshold is set at 70% of the maximum frequency. Any hour with an order frequency above this threshold will be labeled as "Most orders." captures the peak hours with the highest order activity.
- fewest_orders_threshold: This threshold is set at 30% of the maximum frequency. Any hour with an order frequency below this threshold will be labeled as "Fewest orders." Identify the hours with the least order activity.

The idea behind using percentages (0.7 and 0.3) is to make the categorization relative to the maximum frequency, ensuring that the labels are sensitive to the overall distribution of order frequencies across different hours per the request #4.

In [45]:
# Printing the frequency of the new column 'busiest_period_of_day'
print("Frequency of busiest_period_of_day column:")
print(ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False))

Frequency of busiest_period_of_day column:
busiest_period_of_day
Most orders       23205725
Average orders     6480135
Fewest orders      2718999
Name: count, dtype: int64

In [46]:
#7.Exporting the ords_prods_merge DataFrame as a Pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))